%h2
  = @user.first_name << " " << @user.last_name

= image_tag @user.photo.url(:small)
%br
%br

-if @user == current_user
  = link_to "New Project" , new_project_path , class: "btn btn-large btn-primary"
  %br
  %br
  
  - if @projects.any? 
    %ol.projects
      = render @projects